@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

/* General */

body {
  font-family: 'Roboto Mono', monospace;
  /* background-color: #c2e6e8; */
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

button,
button:active {
  background-color: #f2f2f2;
  border: none;
  width: 42px;
  height: 40px;
  border-radius: 100%;
  text-align: center;
  box-shadow: 0.2em 0.2em #27F2F5;
  -webkit-box-shadow: 0.2em 0.2em #27F2F5;
  -moz-box-shadow: 0.2em 0.2em #27F2F5;
}

button:focus {
  translate: 0.2em 0.2em;
  box-shadow: 0.2em 0.2em #27F2F5 inset;
  -webkit-box-shadow: 0.2em 0.2em #27F2F5 inset;
  -moz-box-shadow: 0.2em 0.2em #27F2F5 inset;
}

/* Clock Body */

.clock-container {
  background-color: #9EFEFF; 
  width: 250px;
  height: 315px;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 10px 10px #27F2F5;
}

/* Display + Stop/Start/Reset Controls */

#time-left {
  font-size: 70px;
  text-align: center;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 3px 3px #202023 inset;
}

#display-controls {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#timer-label {
  font-size: 25px;
  text-align: center;
  padding-top: 2px;
  background-color: #f2f2f2;
  border-radius: 10px;
  height: 30px;
  flex: 2;
  box-shadow: 3px 3px #202023 inset;
}

#timer-ssr {
  flex: 1;
  margin-left: 25px;
  display: flex;
  /* justify-content: space-between; */
  /* flex-start: end; */
}

/* Timer Length Controls */

.length-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.inc-dec-btn-container {
  margin: 1px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100px;
  height:60px;
}

.break-container, 
.session-container {
  text-align: center;
/*   display: inline-block; */
  /* border: 2px solid #9EFEFF; */
  padding: 10px;
  border-radius: 10px;
  width: 38%;
}

.timer-length {
  font-size: 2em;
}

.break-container,
.inc-arrow {
  margin-right: 12px;
}
